/* Custom Stylesheet */


/*form styles*/

form.whiteform input, form.whiteform textarea{
	background-color: white !important;
	color: black;
	border: 1px solid black;
}

form.whiteform input:focus{
	box-shadow: 0 1px 0 0 #C2C2C2 ;
}

[type="text"].my-input, textarea {
  background-color: #5C5E5B !important;

}

[type="text"].black-input, textarea {
  background-color: black !important;
  color: white;
  border: 1px solid white;
}


.no-margin-bottom{
	margin-bottom: 0px; 
}

ul.footer-info li{
	margin-bottom: 10px;
}

.margin-top-1{
	margin-top: 1em;
}

 .card{
		box-shadow: none ;
}

.fb-comments span iframe{
	width: 400px !important;
	height: 400px !important;
}
.fb-comments span{
	width: 400px !important;
	height: 400px !important;
}

p.size45{
	font-size: 1.9em;
  line-height: 130%;

  margin: 1.14rem 0 0.912rem 0;
}


/*Buttons*/

.social-button{
	margin-bottom: -0.4em;
	cursor: pointer;
	margin-left: 15px;
	width: 20px;
}

.small-button{
	padding-left: 15px;
	padding-right: 10px;
	padding-bottom: 0px; 
	font-size: 0.8em;
}

.med-button{

	font-size: 0.8em;
	font-weight: bold;"

}

/*Square div*/
.square {
	background-color: #949494;
	color: white;
	width:30px;
	height:30px;
	padding-left: 3px;
	padding-top: 3px;
	display: inline-block;
}
.med-square {
	background-color: #636363;
	color: white;
	width:40px;
	height:40px;
	padding-left: 9px;
	padding-top: 8px;
	display: inline-block;
}
/*change container from 70% to 80%*/
@media only screen and (min-width: 993px) {
	.container {
	width: 80%;
	}
}

/*TOP BAR*/

.gray-color{
	background-color: #C2C2C2;
}

nav ul a:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

nav ul li.active {
	background-color: rgba(0, 0, 0, 0.3);
}

nav ul li{
	border-left-style: solid;
	border-left-width: 1px;
	border-color: white;
}
nav ul li:first-child{
	border-left-style: solid;
	border-left-width: 1px;
	border-color: transparent;
}



.grey-border{
	color: gray;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
}

.white-border{
	color: white;
	border-style: solid;
	border-width: 1px;
	border-color: white;
}


.noshadow {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.med-lineheight{
	line-height: 130%;
}

div.bottomRule {
	border-bottom:1px solid #787A77;
}

.large-spacing{
	letter-spacing: 6px;
}

p.par-title {
	font-size: 4rem;
	line-height: 110%;
	margin: 0.5rem 0 0.4rem 0;
	letter-spacing: 4px;
}

.tab-bg-color{
	background-color: #EBEBEB;
}

/*Tabs*/


.black-tabs .tab a {
	font-size: 14px;
	padding: 0 10px;
}
.black-tabs .tab a:hover, .black-tabs .tab a.active {
	background-color: transparent;
	color: black;
	font-weight: bold;
}
.black-tabs .tab a, .black-tabs .tab a.active {
	background-color: transparent;
	color: black;
}
.black-tabs .indicator {
		background-color: black;
}


/*Backgrouns*/


.bg_proceso{
	background-image:url('../media/img/white_room.jpg');
	width: 100%;
}

.bg-monumental-form{
	background-size: 100%;
	background-repeat: no-repeat;

}

.bg-white{
	background-color: white;
}


.grey-bg{
	background-image:url('../media/img/home/notasbg.png');
	background-size: cover;
	background-repeat: no-repeat;
}
.darker{
	background-color: #40423F !important ;
}

p.bold-normal{
	margin-bottom: 0em;
	margin-top: 0.1em;
	font-weight: bold;
}


.tab-space{
	padding-top: 2rem; 
	padding-left: 3.5rem;
}
.max-light{
	font-weight: 100;
}

p {
	line-height: 2rem;
}

.button-collapse {
	color: #26a69a;
}

.parallax-container {
	min-height: 380px;
	line-height: 0;
	height: auto;
	color: rgba(255,255,255,.9);
}
	.parallax-container .section {
	width: 100%;
	}

@media only screen and (max-width : 992px) {
	.parallax-container .section {
	position: absolute;
	top: 40%;
	}
	#index-banner .section {
	top: 10%;
	}
}

@media only screen and (max-width : 600px) {
	#index-banner .section {
	top: 0;
	}
}

.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

footer.page-footer {
	margin: 0;
}


/*Placeholders*/


.whiteform textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: black ;
}
.whiteform textarea::-moz-placeholder { /* Firefox 19+ */
	color: black ;

}
.whiteform textarea:-ms-input-placeholder { /* IE 10+ */
	color: black ;

}
.whiteform textarea:-moz-placeholder { /* Firefox 18- */
	color: black ;
}

.whiteform input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: black ;
}
.whiteform input::-moz-placeholder { /* Firefox 19+ */
	color: black ;

}
.whiteform input:-ms-input-placeholder { /* IE 10+ */
	color: black ;

}
.whiteform input:-moz-placeholder { /* Firefox 18- */
	color: black ;
}


/* General Font */
.fontCrimson{
    font-family: "Crimson Text";
}
.itaBold{
    font-style: italic;
    font-weight: bold;
}


/* Pagina German */
.imgFloat{
    max-width: 100%;
}


/* Formulario de Contacto */ 
.ContactT{
    letter-spacing: 4px;
    font-size: 3rem;
}
.ContactSubT{
    font-size: 1.6rem;
    font-style: italic;
    font-weight: bold;
}
.bg_contact {
    background-image: url("../media/img/subasta/bg_porque.png");
    padding-top: 20px;
    width: 100%;
}
.txtForm {
    background-color: transparent !important;
    border: 2px solid #b3b3b1 !important;
    border-radius: 2px !important;
    margin: 0 !important;
}
.txtForm::-webkit-input-placeholder {
    color: #2d332c !important;
}
 
.txtForm:-moz-placeholder { /* Firefox 18- */
    color: #2d332c !important;  
}
 
.txtForm::-moz-placeholder {  /* Firefox 19+ */
    color: #2d332c !important;  
}
 
.txtForm:-ms-input-placeholder {  
    color: #2d332c !important;  
}

.algRC{
    float: right;
    padding-right: 15%;
}
.btnRight{
    float: right;
}


/* Botones */
.button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    padding: 1em 2em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 1.1rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #1779ba;
    color: #fefefe; 
}
[data-whatinput='mouse'] .button {
    outline: 0; 
}
.button:hover, .button:focus {
    background-color: #14679e;
    color: #fefefe; 
}
.button.tiny {
    font-size: 0.6rem; 
}
.button.small {
    font-size: 0.75rem; 
}
.button.large {
    font-size: 1.25rem; 
}
.button.expanded {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0; 
}   
.button.success {
    background-color: #22bb5b;
}
.button.success:hover, .button.success:focus {
    background-color: #3adb76;
}

/* Text Submodulo Porque */
.txt_left p {
	font-size: 1em;
	text-align: justify;
	font-weight: 300;
	line-height: 130%;
}

.txt_title p {
	font-size: 2.1em;
	font-weight: 500;
	color: #2d332c;
}

.img_right {
	position: relative;
    right: -5em;
}

.txt_fright {
    float: right;
    margin-right: -6em;
    margin-top: -3em;
}
.txt_head {
	font-weight: 300;
    float: left;
    line-height: normal;
    padding-right: 12em;
}