/* Custom Stylesheet */


/*form styles*/

form.whiteform input, form.whiteform textarea{
	background-color: white !important;
	color: black;
	border: 1px solid black;
}

form.whiteform input:focus{
	box-shadow: 0 1px 0 0 #C2C2C2 ;
}

[type="text"].my-input, textarea {
  background-color: #5C5E5B !important;

}

[type="text"].black-input, textarea {
  background-color: black !important;
  color: white;
  border: 1px solid white;
}


.no-margin-bottom{
	margin-bottom: 0px; 
}

ul.footer-info li{
	margin-bottom: 10px;
}

.margin-top-1{
	margin-top: 1em;
}

 .card{
		box-shadow: none ;
}

.fb-comments span iframe{
	width: 400px !important;
	height: 400px !important;
}
.fb-comments span{
	width: 400px !important;
	height: 400px !important;
}

p.size70{
	font-size: 3.5rem;
	line-height: 130%;
	margin: 1.14rem 0 0.912rem 0;
}

p.size45{
	font-size: 2.5rem;
	line-height: 110%;
	margin: 1.14rem 0 0.912rem 0;
}

p.size4{
	font-size: 2.1rem;
	line-height: 120%;
	margin: 1.14rem 0 0.912rem 0;
}

p.size41{
	font-size: 2.2rem;
	line-height: 130%;
	margin: 1.14rem 0 0.912rem 0;
}

.bold600{
	font-weight: 600;
}

p.add-right-ident:before {
	content: ' ';
	width: 50px;
	float: right;
	height: 5px
}

p.add-right-ident-x:before {
	content: ' ';
	width: 140px;
	float: right;
	height: 5px
}

p.add-right-ident-x2:before {
	content: ' ';
	width: 65px;
	float: right;
	height: 5px
}

p.indent-after-first-x{
	text-indent: -12.5rem;
	margin-left: 12.5rem;
}

p.indent-after-first-x2{
	text-indent: -17.5rem;
	margin-left: 17.5rem;
}

p.indent-after-first{
	text-indent: -9.5rem;
	margin-left: 9.5rem;
}

p.indent-after-first-s{
	text-indent: -4rem;
	margin-left: 4rem;
}

p.indent-after-first-s2{
	text-indent: -6rem;
	margin-left: 6rem;
}

p.indent-after-first-s3{
	text-indent: -7rem;
	margin-left: 7rem;
}

p.description-services{
	font-size: 1rem;
	margin-top: 2em;
	line-height: 140%; 
}

p.headerForm {
  font-size: 2.7rem;
  line-height: 110%;
  margin: 1.78rem 0 1.424rem 0;
}

img.txt-over{
	z-index: -1;
}

/*Buttons*/

.social-button{
	margin-bottom: -0.4em;
	cursor: pointer;
	margin-left: 13px;
	width: 25px;
}

.small-button{
	padding-left: 15px;
	padding-right: 10px;
	padding-bottom: 0px; 
	font-size: 0.8em;
}

.med-button{

	font-size: 0.8em;
	font-weight: bold;"

}

/*Square div*/
.square {
	background-color: #949494;
	color: white;
	width:30px;
	height:30px;
	padding-left: 3px;
	padding-top: 3px;
	display: inline-block;
}
.med-square {
	background-color: #636363;
	color: white;
	width:40px;
	height:40px;
	padding-left: 9px;
	padding-top: 8px;
	display: inline-block;
}
/*change container from 70% to 80%*/
@media only screen and (min-width: 993px) {
	.container {
	width: 80%;
	}
}

/*TOP BAR*/

.gray-color{
	background-color: #C2C2C2;
}

ul.desktop a:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

ul.desktop li.active {
	background-color: rgba(0, 0, 0, 0.3);
}

ul.desktop li{
	border-left-style: solid;
	border-left-width: 1px;
	border-color: white;
	text-align: center;
	width: 8.5em;
}
ul.desktop li:first-child{
	border-left-style: solid;
	border-left-width: 1px;
	border-color: transparent;
}

ul.desktop a {
    padding: 0 0px;
}

.grey-border{
	color: gray;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
}

.white-border{
	color: white;
	border-style: solid;
	border-width: 1px;
	border-color: white;
}


.noshadow {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.med-lineheight{
	line-height: 130%;
}

div.bottomRule {
	border-bottom:1px solid #787A77;
}

.small-spacing{
	letter-spacing: 1px;
}

.med-spacing{
	letter-spacing: 3px;
}

.large-spacing{
	letter-spacing: 6px;
}

p.par-title {
	font-size: 4rem;
	line-height: 110%;
	margin: 0.5rem 0 0.4rem 0;
	letter-spacing: 4px;
}

.tab-bg-color{
	background-color: #EBEBEB;
}

/*Tabs*/


.black-tabs .tab a {
	font-size: 14px;
	padding: 0 10px;
}
.black-tabs .tab a:hover, .black-tabs .tab a.active {
	background-color: transparent;
	color: black;
	font-weight: bold;
}
.black-tabs .tab a, .black-tabs .tab a.active {
	background-color: transparent;
	color: black;
}
.black-tabs .indicator {
		background-color: black;
}


#sidenav-overlay {
    background-color: transparent;
    z-index: 1;
}
/*Backgrouns*/

.bg_proceso{
	background-image:url('../media/img/white_room.jpg');
	width: 100%;
}

.bg-services-form{
	background-size: 100%;
	background-repeat: no-repeat;
	margin-bottom: 5%;
}

.bg-white{
	background-color: white;
}


.grey-bg{
	background-image:url('../media/img/home/notasbg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.darker{
	background-color: #40423F !important ;
}

p.bold-normal{
	margin-bottom: 0em;
	margin-top: 0.1em;
	font-weight: bold;
}


.tab-space{
	padding-top: 2rem; 
	padding-left: 3.5rem;
}
.max-light{
	font-weight: 100;
}

p {
	line-height: 2rem;
}

.button-collapse {
	color: #26a69a;
}

.parallax-container {
	min-height: 380px;
	line-height: 0;
	height: auto;
	color: rgba(255,255,255,.9);
}
.parallax-container .section {
	width: 100%;
}

.black-section{
	background-color: black;
	padding-bottom: 3%;
	width: 74%;
	margin-left: 13.3%; 
}  

@media only screen and (max-width : 992px) {
	.parallax-container .section {
		position: absolute;
		top: 40%;
	}
	#index-banner .section {
		top: 10%;
	}
	ul.side-nav.leftside-navigation {
	    top: 64px;
	}
	.black-section{
		background-color: black;
		padding-bottom: 3%;
		width: 100%;
		margin-left: 0%; 
	}	
}

@media only screen and (max-width : 600px) {
	#index-banner .section {
	top: 0;
	}
	ul.side-nav.leftside-navigation {
	    top: 56px;
	}
	p.headerForm {
	  font-size: 2rem;
	  line-height: 110%;
	  margin: 1.78rem 0 1.424rem 0;
	}	

}

.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

footer.page-footer {
	margin: 0;
}

.per-parallax{
  height: 420px;
}


/*Placeholders*/


.whiteform textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: black ;
}
.whiteform textarea::-moz-placeholder { /* Firefox 19+ */
	color: black ;

}
.whiteform textarea:-ms-input-placeholder { /* IE 10+ */
	color: black ;

}
.whiteform textarea:-moz-placeholder { /* Firefox 18- */
	color: black ;
}

.whiteform input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: black ;
}
.whiteform input::-moz-placeholder { /* Firefox 19+ */
	color: black ;

}
.whiteform input:-ms-input-placeholder { /* IE 10+ */
	color: black ;

}
.whiteform input:-moz-placeholder { /* Firefox 18- */
	color: black ;
}

/* General Font */
.fontCrimson{
    font-family: "Crimson Text";
}
.itaBold{
    font-style: italic;
    font-weight: bold;
}


/* Pagina German */
.imgFloat{
    max-width: 100%;
}
.bg_bottom {
    background-image: url("../media/img/subasta/bg_porque.jpg");
    padding-top: 20px;
    width: 100%;
}


/* Formulario de Contacto */ 
.ContactT{
    letter-spacing: 4px;
    font-size: 3rem;
}
.ContactSubT{
    font-size: 1.6rem;
    font-style: italic;
    font-weight: bold;
}
.fontContact{
    font-family: "Crimson Text";
}

.titleservices{
    font-family: "Crimson Text";	
}

nav.mymenu ul a {
	font-family: 'Open Sans', sans-serif!important;
	font-size: 0.8rem;
	font-weight: bold;
}

.italic{
	font-style: italic;
}

.ContactT{
    letter-spacing: 4px;
    font-size: 3rem;
}
.ContactSubT{
    font-size: 1.6rem;
    font-style: italic;
    font-weight: bold;
}
.bg_contact {
    background-image: url("../media/img/subasta/bg_porque.jpg");
    padding-top: 20px;
    width: 100%;
}
.txtForm {
    background-color: transparent !important;
    border: 2px solid #b3b3b1 !important;
    border-radius: 2px !important;
    margin: 0 !important;
}
.txtForm::-webkit-input-placeholder {
    color: #2d332c !important;
}
 
.txtForm:-moz-placeholder { /* Firefox 18- */
    color: #2d332c !important;  
}
 
.txtForm::-moz-placeholder {  /* Firefox 19+ */
    color: #2d332c !important;  
}
 
.txtForm:-ms-input-placeholder {  
    color: #2d332c !important;  
}

.algRC{
    float: right;
    padding-right: 15%;
}
.btnRight{
    float: right;
}


/* Botones */
.button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    padding: 1em 2em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 1.1rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #1779ba;
    color: #fefefe; 
}
[data-whatinput='mouse'] .button {
    outline: 0; 
}
.button:hover, .button:focus {
    background-color: #14679e;
    color: #fefefe; 
}
.button.tiny {
    font-size: 0.6rem; 
}
.button.small {
    font-size: 0.75rem; 
}
.button.large {
    font-size: 1.25rem; 
}
.button.expanded {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0; 
}   
.button.success {
    background-color: #22bb5b;
}
.button.success:hover, .button.success:focus {
    background-color: #3adb76;
}

.gb_title_auction {
	font-family: "Crimson Text";
	font-size: 1.7rem;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 4px;
}

/* Text Submodulo Porque */
.gb_title_x2 {
	font-family: "Crimson Text";
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 6px;
}
.gb_top_x3 {
	margin-top: 3rem;
}
.gb_top_left_x3 {
	margin-left: -12rem;
}
.gb_top_x6 {
	margin-top: 6rem;
}
.gb_bottom_x2 {
	margin-bottom: -2rem;
}
.gb_bottom_x5 {
	margin-bottom: -5px;
}
.gb_bottom_x6 {
	margin-bottom: -6px;
}
.font_head_style {
	font-family: "Crimson Text";
	font-weight: bold;
	font-style: italic;
	color: #2d332c;
}
.font_head_h {
    font-size: 4.5rem;
}
.font_subhead_hp {
	font-size: 2rem;
}
.font_subhead_h {
	font-size: 2rem;
	margin-right: -15%;
	line-height: 140%;
}
.font_subhead_h p {
	font-size: 2rem;
	margin-right: -15%;
	line-height: 140%;
}
.txt_desc {
	text-align: justify;
}
.img_ga_pq {
	margin-left: -2em;
	margin-bottom: -4em;
	padding-top: 0em;
}
/* Proceso Media RD */
@media screen and (max-width: 1024px){
	
	.img_ga_pq {
		margin-bottom: -5rem;
	}
	.split-date {
		margin-top: 6rem !important;
		margin-left: -7rem !important;
	}
}
@media screen and (max-width: 900px){
	.img_ga_pq {
		max-width: 100%;
		margin-bottom: 0;
		margin: 0 auto;
	}
	.split-date {
		margin-left: 7rem !important;
	}
}
@media screen and (max-width: 600px){
	.img_ga_pq {
		max-width: 100%;
	}
	.gb_mleft_x10 {
		margin-left: 0rem !important;
	}
	.split-date {
		margin-left: -1rem !important;
	}
}
@media screen and (max-width: 480px){
	.img_ga_pq {
		max-width: 100%;
	}
	.split-date {
		margin-left: -5rem !important;
	}
}
@media screen and (max-width: 320px){
	.img_ga_pq {
		max-width: 100%;
	}
	.split-date {
		margin-top: 2rem !important;
		margin-left: -10rem !important;
	}
}
.font_head_style_proceso {
	font-family: "Crimson Text";
	font-weight: bold;
	font-style: italic;
	color: #2d322c;
}
.txt_left p {
	font-size: 1em;
	text-align: justify;
	font-weight: 300;
	line-height: 130%;
}

.txt_title p {
	font-size: 2.1em;
	font-weight: 500;
	color: #2d332c;
}

.img_right {
	position: relative;
	right: -5em;
}

.txt_fright {
	float: right;
	margin-right: -6em;
	margin-top: -3em;
}
.txt_head {
	font-weight: 300;
	float: left;
	line-height: normal;
	padding-right: 12em;
}

/* Boton Coming Soon */
.btn_cs {
	border: none;
	border-radius: 2px;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	padding: 0 2rem;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
}
.btn_cs:hover {
	background-color: #43b33b;
}
.btn_large_cs {
	height: 50px;
	line-height: 50px;
}
.btn_large_cs, .btn_large_style {
	text-decoration: none;
	color: #fff;
	background-color: #3bb347;
	text-align: center;
	letter-spacing: .5px;
	transition: .2s ease-out;
	cursor: pointer;
}
.border_cs {
	background-color: transparent !important;
	border: 1px solid #d7d7d7 !important;
}
.txtLabelInfo {
	color:#2f342e !important;
	font-size: 17px !important;
	margin-top: -1em;
}
.gb_color {
	font-size: 23px;
	color: #363b35;
	font-weight: 500;
}
.gb_gray {
	color:#30322f;
}
.gb_gray_2 {
	color: #d7d7d7;
}
.gb_mlf_1 {
	margin-top: 9em;
	margin-left: -3em;
}
.gb_arrow_box {
	position: relative;
	background: #ffffff;
}
.gb_arrow_box:after, .gb_arrow_box:before {
	right: 100%;
	top: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.gb_arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #ffffff;
	border-width: 24px;
	margin-top: -24px;
}
.gb_arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-width: 36px;
	margin-top: -36px;
}
.gb_mrg_1 {
	margin-top: 1rem;
}
.gb_mgr_2 {
	margin-top: 1.6rem;
}
.gb_mleft_x10 {
	margin-left: 10rem;
}

.top_arrow_box {
	position: relative;
	background: #ffffff;
	border: 4px solid #f5f5f5;
}
.top_arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 10%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.top_arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 30px;
	margin-left: -30px;
}
.top_arrow_box:before {
	border-color: rgba(245, 245, 245, 0);
	border-bottom-color: #f5f5f5;
	border-width: 36px;
	margin-left: -36px;
}


/* Date Coming Soon */
.split-date {
	margin: 0px 6px 2px 10px;
	width: 62px;
	float: right;
	position: absolute;
	margin-top: 8em;
	padding-left: 15rem;
}
.split-date span {
	color: #383a35;
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	margin-top: -5px;
	text-align: center;
}
span.day {
	font-size: 4rem;
	padding-top: 10px;
}
span.month {
	position: absolute;
	font-size: 24px;
	right: -70%;
	top: 1em;
	text-transform: uppercase;
}

span.year {
	position: absolute;
	font-size: 24px;
	right: -6em;
	top: 2em;
	left: 12.5em;
}

.no-indent{
	text-indent: 0px;
}


/*mobile menu and button*/

.mobile-nav{
	background-color: #40423F;
	opacity: 0.9;
}

.mobile-nav li a{
	color: white ;
	border-bottom: 1px solid white ;
	border-left: none;
	text-align: center;
}


.material-icons.md-36 {
	font-size: 36px;
}

.material-icons.md-30 {
	font-size: 30px !important;
}

nav .button-collapse {
    float: left;
    position: relative;
    z-index: 1;
    height: 56px;
    padding: 0 18px 0 18px;
    margin: 0;
    color: white;
    position: absolute;
    left: 0;
    background-color: #40423F;
}

#mobile-german{
	width: 100%;
}