.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  color: white;
  background-color: #D6D6D6;
}

.nav-tabs>li>a:hover {
  border-color: #eee #eee #ddd
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  color: white;
  cursor: default;
  background-color: #C2C2C2;
  border: 1px solid #ddd;
  border-bottom-color: transparent

}

.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0
}

.nav-tabs.nav-justified>li {
  float: none
}

.nav-tabs.nav-justified>li>a {
  margin-bottom: 5px;
  text-align: center
}

.nav-tabs.nav-justified>.dropdown .dropdown-menu {
  top: auto;
  left: auto
}

@media (min-width:768px) {
  .nav-tabs.nav-justified>li {
    display: table-cell;
    width: 1%
  }
  .nav-tabs.nav-justified>li>a {
    margin-bottom: 0
  }
}

.nav-tabs.nav-justified>li>a {
  margin-right: 0;
  border-radius: 4px
}

.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:focus {
  border: 1px solid #ddd
}

@media (min-width:768px) {
  .nav-tabs.nav-justified>li>a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0
  }
  .nav-tabs.nav-justified>.active>a,
  .nav-tabs.nav-justified>.active>a:hover,
  .nav-tabs.nav-justified>.active>a:focus {
    border-bottom-color: #fff
  }
}

.nav-pills>li {
  float: left
}

.nav-pills>li>a {
  border-radius: 4px
}

.nav-pills>li+li {
  margin-left: 2px
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  color: #fff;
  background-color: #428bca
}

.nav-stacked>li {
  float: none
}

.nav-stacked>li+li {
  margin-top: 2px;
  margin-left: 0
}

.nav-justified {
  width: 100%
}

.nav-justified>li {
  float: none
}

.nav-justified>li>a {
  margin-bottom: 5px;
  text-align: center
}

.nav-justified>.dropdown .dropdown-menu {
  top: auto;
  left: auto
}

@media (min-width:768px) {
  .nav-justified>li {
    display: table-cell;
    width: 1%
  }
  .nav-justified>li>a {
    margin-bottom: 0
  }
}

.nav-tabs-justified {
  border-bottom: 0
}

.nav-tabs-justified>li>a {
  margin-right: 0;
  border-radius: 4px
}

.nav-tabs-justified>.active>a,
.nav-tabs-justified>.active>a:hover,
.nav-tabs-justified>.active>a:focus {
  border: 1px solid #ddd
}

@media (min-width:768px) {
  .nav-tabs-justified>li>a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0
  }
  .nav-tabs-justified>.active>a,
  .nav-tabs-justified>.active>a:hover,
  .nav-tabs-justified>.active>a:focus {
    border-bottom-color: #fff
  }
}

.nav > li > a {
    display: block;
    padding: 19% 19%;
    position: relative;
}

.tab-content>.tab-pane {
  display: none;
  visibility: hidden
}

.tab-content>.active {
  display: block;
  visibility: visible
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0
}


.tabs-left, .tabs-right {
  border-bottom: none;
  padding-top: 2px;
}
.tabs-left {
  border-right: 1px solid #ddd;
}
.tabs-right {
  border-left: 1px solid #ddd;
}
.tabs-left>li, .tabs-right>li {
  float: none;
  margin-bottom: 2px;
}
.tabs-left>li {
  margin-right: -1px;
}
.tabs-right>li {
  margin-left: -1px;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
}

.tabs-right>li.active>a,
.tabs-right>li.active>a:hover,
.tabs-right>li.active>a:focus {
  border-bottom: 1px solid #ddd;
  border-left-color: transparent;
}
.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display:block;
}
.tabs-right>li>a {
  border-radius: 0 4px 4px 0;
  margin-right: 0;
}
.sideways {
  margin-top:50px;
  border: none;
  position: relative;
}
.sideways>li {
  height: 20px;
  width: 120px;
  margin-bottom: 90px;
}
.sideways>li>a {
  border-bottom: 1px solid #ddd;
  border-right-color: transparent;
  text-align: center;
  border-radius: 4px 4px 0px 0px;
  font-weight: bold;

}
.sideways>li.active>a,
.sideways>li.active>a:hover,
.sideways>li.active>a:focus {
  border-bottom-color: transparent;
  border-right-color: #ddd;
  border-left-color: #ddd;
}
.sideways.tabs-left {
  left: -50px;
}
.sideways.tabs-right {
  right: -50px;
}
.sideways.tabs-right>li {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sideways.tabs-left>li {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}