/* Stylesheet utilizado para cambiar el tamaño del textro dinamicamente */

span.size-x08{
	font-size: 0.8rem;
}

span.size-x1{
	font-size: 1rem;
}

span.size-x11{
	font-size: 1.1rem;
}

span.size-x12{
	font-size: 1.2rem;
}

span.size-x13{
	font-size: 1.3rem;
}

span.size-x15{
	font-size: 1.5rem;
}

span.size-x16{
	font-size: 1.65rem;
}

span.size-x2 {
	font-size: 2rem;
}

span.size-x21 {
	font-size: 2.1rem;
}

span.size-x23{
	font-size: 2.3rem;
}

span.size-x25 {
	font-size: 2.5rem;
}

span.size-x27 {
	font-size: 2.7rem;
}

span.size-x3{
	font-size: 3rem;
}

span.size-x35{
	font-size: 3.5rem;
}

span.size-x4 {
	font-size: 4rem;
}

span.size-x45 {
	font-size: 4.5rem;
}

span.size-x5 {
	font-family: "Crimson Text";
	font-size: 5rem;
}



/*Equivalencias*/
font[color="#000001"] {
	font-size: 0.8rem; /*8*/
	color: black;
}

font[color="#000002"] {
	font-size: 1rem; /*10*/
	color: black;
}

font[color="#000003"] {
	font-size: 1.1rem; /*11*/
	color: black;
}

font[color="#000004"] {
	font-size: 1.2rem; /*12*/
	color: black;
}

font[color="#000005"] {
	font-size: 1.3rem; /*13*/
	color: black;
}

font[color="#000006"] {
	font-size: 1.5rem; /*15*/
	color: black;
}

font[color="#000007"] {
	font-size: 1.65rem; /*17*/
	color: black;
}

font[color="#000008"] {
	font-size: 2rem; /*20*/
	color: black;
}

font[color="#000009"] {
	font-size: 2.1rem; /*21*/
	color: black;
}

font[color="#000010"] {
	font-size: 2.3rem; /*22*/
	color: black;
}

font[color="#000011"] {
	font-size: 2.5rem; /*25*/
	color: black;
}

font[color="#000012"] {
	font-size: 2.7rem; /*27*/
	color: black;
}
font[color="#000013"] {
	font-size: 3rem; /*30*/
	color: black;
}
font[color="#000014"] {
	font-size: 3.5rem; /*35*/
	color: black;
}
font[color="#000015"] {
	font-size: 4rem; /*40*/
	color: black;
}
font[color="#000016"] {
	font-size: 4.5rem; /*45*/
	color: black;
}
font[color="#000017"] {
	font-size: 5rem; /*50*/
	color: black;
}
