<!DOCTYPE html>
<html lang="es">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<title>German Arzate</title>
	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link rel="stylesheet" type="text/css" href="css/tabModule.css" />
	<link rel="stylesheet" type="text/css" href="css/foundation.css" />
	<link rel="stylesheet" type="text/css" href="css/style-timeline.css" />
</head>
<body>
<nav>
	<div class="nav-wrapper gray-color">
		<div class="container">
			<img class="brand-logo" style="margin-top: 0.35em" src="media/img/home/logo.png" alt="logo">
			<ul id="topbar" class="right hide-on-med-and-down">
				<li><a onclick="javascript:location.href='/beta/germanArzate/'" >INICIO</a></li>
				<li><a href="subasta.php">SUBASTA</a></li>
				<li><a href="serviciosextra.php">SERVICIOS EXTRA</a></li>
				<li><a href="#!">NOTAS DE PRENSA</a></li>
				<li><a href="#!">GERMAN ARZATE</a></li>
				<li><a href="#!">CONTACTO</a></li>
			</ul>
		</div>
	</div>
</nav>